Repository datepop/pop-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

chore(release): publish @pop-ui/foundation@1.1.1 [skip ci]
  packages/foundation/package.json
Due: none

feat(foundation): 카트 아이콘 3종 추가 (IconCart, IconCartAdd, IconCartCheck)
  packages/foundation/src/icons/IconCart.tsx
  packages/foundation/src/icons/IconCartAdd.tsx
  packages/foundation/src/icons/IconCartCheck.tsx
  packages/foundation/src/icons/index.ts
  packages/foundation/src/icons/metadata.ts
Due: prettier --write, eslint --fix

fix(foundation): IconCartAdd + 기호 strokeWidth 1.5로 통일
  packages/foundation/src/icons/IconCartAdd.tsx
Due: prettier --write, eslint --fix

feat(foundation): IllustrationCheckCircle 추가
  packages/foundation/src/illustrations/IllustrationCheckCircle.tsx
  packages/foundation/src/illustrations/index.ts
  packages/foundation/src/illustrations/metadata.ts
Due: prettier --write, eslint --fix

fix(foundation): IllustrationCheckCircle 그라디언트 색상 수정
  packages/foundation/src/illustrations/IllustrationCheckCircle.tsx
Due: prettier --write, eslint --fix

feat(foundation): 일러스트레이션 16종 추가
  packages/foundation/src/illustrations/IllustrationCamera.tsx
  packages/foundation/src/illustrations/IllustrationClockHurry.tsx
  packages/foundation/src/illustrations/IllustrationHandOk.tsx
  packages/foundation/src/illustrations/IllustrationHandThumbsUp.tsx
  packages/foundation/src/illustrations/IllustrationNoCircle.tsx
  packages/foundation/src/illustrations/IllustrationOffice.tsx
  packages/foundation/src/illustrations/IllustrationPeople.tsx
  packages/foundation/src/illustrations/IllustrationPerson.tsx
  packages/foundation/src/illustrations/IllustrationPopdeal.tsx
  packages/foundation/src/illustrations/IllustrationPoppass.tsx
  packages/foundation/src/illustrations/IllustrationSales.tsx
  packages/foundation/src/illustrations/IllustrationSetting.tsx
  packages/foundation/src/illustrations/IllustrationTicket.tsx
  packages/foundation/src/illustrations/IllustrationYesCircle.tsx
  packages/foundation/src/illustrations/IllustrationYesSpike.tsx
  packages/foundation/src/illustrations/IllustrationYoutube.tsx
  packages/foundation/src/illustrations/index.ts
  packages/foundation/src/illustrations/metadata.ts
Due: prettier --write, eslint --fix

chore(release): publish @pop-ui/foundation@1.1.3 [skip ci]
  packages/foundation/package.json
Due: none

✨ [DPN-957] @pop-ui/editor-core 패키지 생성
  packages/editor-core/README.md
  packages/editor-core/package.json
  packages/editor-core/src/index.ts
  packages/editor-core/src/types/index.ts
  packages/editor-core/src/utils/computeContentStats.ts
  packages/editor-core/src/utils/constants.ts
  packages/editor-core/src/utils/decorateHashtags.ts
  packages/editor-core/src/utils/index.ts
  packages/editor-core/src/utils/typeGuards.ts
  packages/editor-core/tsconfig.json
  packages/editor-core/vite.config.ts
Due: prettier --write, eslint --fix

🔧 [DPN-957] 스토리북 설정 및 의존성 업데이트
  .storybook/main.ts
  yarn.lock
Due: prettier --write, eslint --fix

♻️ [DPN-957] editor-core 블록 타입에 베이스 인터페이스 도입
  packages/editor-core/src/types/index.ts
Due: prettier --write, eslint --fix

📝 [DPN-957] 새 블록 타입 확장 가이드 문서 추가
  packages/editor/docs/how-to-extend-blocks.md
Due: none

🔒 [DPN-957] href XSS 방지를 위한 sanitizeHref 유틸 추가
  packages/editor/src/BlockRenderer/index.tsx
  packages/editor/src/Editor/elements/AElement.tsx
  packages/editor/src/Editor/elements/Leaf.tsx
  packages/editor/src/utils/index.ts
  packages/editor/src/utils/parseHtmlToSlate.ts
  packages/editor/src/utils/sanitizeHref.ts
Due: prettier --write, eslint --fix

🐛 [DPN-957] BlockRenderer heading 레벨을 소비자가 제어하도록 headingOffset prop 추가
  packages/editor/src/BlockRenderer/index.tsx
Due: prettier --write, eslint --fix

📝 [DPN-957] README 업데이트: 베이스 인터페이스, headingOffset, sanitizeHref 반영
  packages/editor-core/README.md
  packages/editor/README.md
Due: none

feat(editor): InlineToolbar 좌우 clamp 처리 및 padding prop 추가
  packages/editor/README.md
  packages/editor/src/Editor/Editor.stories.tsx
  packages/editor/src/Editor/InlineToolbar/LinkPanel.tsx
  packages/editor/src/Editor/InlineToolbar/index.tsx
  packages/editor/src/Editor/Toolbar/index.tsx
  packages/editor/src/Editor/index.tsx
Due: prettier --write, eslint --fix

fix(editor): 블록 링크(type: 'a') XSS 방지
  packages/editor/src/BlockRenderer/index.tsx
  packages/editor/src/Editor/Toolbar/index.tsx
  packages/editor/src/Editor/hooks/useEditorMethods.ts
Due: prettier --write, eslint --fix

fix(editor): 복사/붙여넣기 시 underline·color 마크 보존
  packages/editor/src/Editor/elements/Leaf.tsx
  packages/editor/src/utils/clipboardUtils.ts
  packages/editor/src/utils/parseHtmlToSlate.ts
Due: prettier --write, eslint --fix

fix(editor): Heading 태그를 Slate type과 일치시켜 복사/붙여넣기 시 레벨 밀림 방지
  packages/editor/src/BlockRenderer/index.tsx
  packages/editor/src/Editor/elements/HeadingElements.tsx
  packages/editor/src/utils/parseHtmlToSlate.ts
Due: prettier --write, eslint --fix

feat(editor): BlockRenderer에 Editor와 동일한 기본 인라인 스타일 적용
  packages/editor/src/BlockRenderer/index.tsx
  packages/editor/src/index.ts
  packages/editor/src/styles/editorStyles.ts
  packages/editor/src/styles/index.ts
Due: prettier --write, eslint --fix

refactor(editor): SpotElement에서 spotThumbnail 분기 제거
  packages/editor/src/Editor/elements/SpotElement.tsx
Due: prettier --write, eslint --fix

refactor(editor): 공유 샘플 콘텐츠 픽스처로 통일
  packages/editor/src/BlockRenderer/BlockRenderer.stories.tsx
  packages/editor/src/Editor/Editor.stories.tsx
  packages/editor/src/__fixtures__/sampleContent.ts
Due: prettier --write, eslint --fix

refactor(editor): __fixtures__ → __mocks__로 디렉토리 리네임
  packages/editor/src/BlockRenderer/BlockRenderer.stories.tsx
  packages/editor/src/Editor/Editor.stories.tsx
  packages/editor/src/__mocks__/index.ts
  packages/editor/src/__mocks__/sampleContent.ts
Due: prettier --write, eslint --fix

feat(editor-core): IProcessedImage에 제네릭 타입 파라미터 추가
  packages/editor-core/src/types/index.ts
Due: prettier --write, eslint --fix

feat(editor): enabledBlocks에 배열 설정 지원 (list, hr, blockquote)
  packages/editor/src/Editor/Toolbar/index.tsx
  packages/editor/src/hooks/useKeyboardHandler.ts
Due: prettier --write, eslint --fix

fix(editor): heading 시작점 Enter 및 리스트 중간 탈출 시 커서/순서 버그 수정
  packages/editor/src/hooks/blockHandlers/headingHandler.ts
  packages/editor/src/hooks/blockHandlers/listHandler.ts
Due: prettier --write, eslint --fix

fix(editor): sanitizeHref에서 window 참조 제거하여 SSR 호환
  packages/editor/src/utils/sanitizeHref.ts
Due: prettier --write, eslint --fix

fix(editor): 첫 블록 시작점 Backspace 시 내용 있는 블록 삭제 방지
  packages/editor/src/hooks/blockHandlers/commonHandlers.ts
Due: prettier --write, eslint --fix

style(editor): 밑줄·인라인 링크에 textUnderlinePosition 및 스타일 보정
  packages/editor/src/BlockRenderer/index.tsx
  packages/editor/src/Editor/elements/Leaf.tsx
  packages/editor/src/styles/editorStyles.ts
Due: prettier --write, eslint --fix

fix(editor): 첫 블록 isStart 체크를 selection → [currentPath]로 수정
  packages/editor/src/hooks/blockHandlers/commonHandlers.ts
Due: prettier --write, eslint --fix

chore(ci): 신규 패키지 배포를 위한 .yarnrc.yml npmPublishRegistry 옵션 추가
  .yarnrc.yml
Due: none

💄 [DPN-979] IconMenuCheck 아이콘 line/filled 스타일 레이아웃 이격 수정
  packages/foundation/src/icons/IconMenuCheck.tsx
Due: prettier --write, eslint --fix

chore(release): publish @pop-ui/foundation@1.1.4 [skip ci]
  packages/foundation/package.json
Due: none

chore: Deploy OpenCode skills from shared .github
  .opencode/skills/datepop-ticket-workflow/SKILL.md
Due: none

chore: Deploy OpenCode skills from shared .github
  .opencode/skills/datepop-pr-review/SKILL.md
Due: none

feat(foundation): 날짜 포맷 유틸 추가
  packages/foundation/src/index.ts
  packages/foundation/src/utils/date.ts
Due: prettier --write, eslint --fix

feat(datepicker): displayValueFormat / valueFormat props 분리
  packages/core/src/components/DatePicker/DatePicker.stories.tsx
  packages/core/src/components/DatePicker/DatePicker.test.tsx
  packages/core/src/components/DatePicker/index.tsx
  packages/core/src/components/DatePicker/styles.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat(calendar-date-picker): classNames 타입 제네릭화 및 스타일·로직 정비
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.stories.tsx
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.test.tsx
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/core/src/components/CalendarDatePicker/styles.module.scss
  packages/core/src/components/CalendarDatePicker/types.ts
  packages/core/src/components/CalendarDatePicker/utils.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(button): CSS Module 마이그레이션 및 스타일 정비
  packages/core/src/components/Button/Button.stories.tsx
  packages/core/src/components/Button/Button.test.tsx
  packages/core/src/components/Button/index.tsx
  packages/core/src/components/Button/style.ts
  packages/core/src/components/Button/styles.module.scss
  packages/core/src/components/Button/type.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(core): Checkbox, Radio, TextField, Toast 스토리·스타일·테스트 정비
  packages/core/src/components/Checkbox/Checkbox.stories.tsx
  packages/core/src/components/Checkbox/Checkbox.test.tsx
  packages/core/src/components/Checkbox/index.tsx
  packages/core/src/components/Radio/Radio.stories.tsx
  packages/core/src/components/Radio/Radio.test.tsx
  packages/core/src/components/Radio/index.tsx
  packages/core/src/components/TextField/TextField.stories.tsx
  packages/core/src/components/TextField/TextField.test.tsx
  packages/core/src/components/TextField/index.tsx
  packages/core/src/components/Toast/Toast.stories.tsx
  packages/core/src/components/Toast/Toast.test.tsx
  packages/core/src/components/Toast/index.tsx
Due: prettier --write, eslint --fix
