Repository datepop/pop-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

docs: 릴리스 절차를 changeset 흐름으로 갱신
  CLAUDE.md
  README.md
Due: none

docs: 릴리스 절차를 changeset 흐름으로 갱신 (#130)
  CLAUDE.md
  README.md
Due: none

chore: .gitignore에 *.tgz 추가 (빌드 아티팩트 제외)
  .gitignore
Due: none

chore: .gitignore에 *.tgz 추가 (빌드 아티팩트 제외) (#131)
  .gitignore
Due: none

fix(deps): vitest 계열 4.1.10으로 업그레이드 (critical CVE)
  package.json
  yarn.lock
Due: none

fix(deps): vitest 계열 4.1.10으로 업그레이드 (critical CVE) (#132)
  package.json
  yarn.lock
Due: none

fix(deps): runtime 취약점 패치 (tmp, linkify-it)
  package.json
  yarn.lock
Due: none

fix(deps): runtime 취약점 패치 (tmp, linkify-it) (#133)
  package.json
  yarn.lock
Due: none

fix(deps): markdown-it 취약점 패치 (runtime)
  package.json
  yarn.lock
Due: none

fix(deps): markdown-it 취약점 패치 (runtime) (#134)
  package.json
  yarn.lock
Due: none

[DPN-1874] Tooltip 타입 버그 수정 및 React 18 peerDep 완화
  .changeset/fix-tooltip-type-and-react18-peerdep.md
  packages/core/package.json
  packages/core/src/components/Tooltip/types.ts
  packages/foundation/package.json
Due: prettier --write, eslint --fix

[DPN-1874] Tooltip 타입 버그 수정 및 React 18 peerDep 완화 (#135)
  .changeset/fix-tooltip-type-and-react18-peerdep.md
  packages/core/package.json
  packages/core/src/components/Tooltip/types.ts
  packages/foundation/package.json
Due: prettier --write, eslint --fix

chore(release): bump @pop-ui/{foundation,core}@1.1.12
  .changeset/fix-tooltip-type-and-react18-peerdep.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/foundation/CHANGELOG.md
  packages/foundation/package.json
  yarn.lock
Due: none

fix(ci): generate native sources before foundation typecheck
  packages/foundation/package.json
Due: none

fix(ci): build editor-core before workspace typecheck
  package.json
Due: none

chore: main → develop 역머지 (v1.1.12 동기화) (#137)
  .changeset/fix-tooltip-type-and-react18-peerdep.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/foundation/CHANGELOG.md
  packages/foundation/package.json
  yarn.lock
Due: none

[DPN-2009] Jenkins checkout 인증을 App으로 전환
  Jenkinsfile
Due: none

[DPN-2009] Jenkins checkout 인증을 App으로 전환 (#138)
  Jenkinsfile
Due: none

[DPN-2016] Jenkins GitHub App 인증으로 전환
  Jenkinsfile
  packages/foundation/src/jenkinsfile.test.ts
Due: prettier --write, eslint --fix

[DPN-2568] Content·Brand 아이콘 geometry 정규화
  packages/foundation/src/brand/IconKakao.tsx
  packages/foundation/src/icons/IconCafe.tsx
  packages/foundation/src/icons/IconCalendar.tsx
  packages/foundation/src/icons/IconCamera.tsx
  packages/foundation/src/icons/IconCard.tsx
  packages/foundation/src/icons/IconCoffee.tsx
  packages/foundation/src/icons/IconCreditCard.tsx
  packages/foundation/src/icons/IconDev.tsx
  packages/foundation/src/icons/IconDirection.tsx
  packages/foundation/src/icons/IconGift.tsx
  packages/foundation/src/icons/IconLocation.tsx
  packages/foundation/src/icons/IconMail.tsx
  packages/foundation/src/icons/IconMapMarker.tsx
  packages/foundation/src/icons/IconMessage.tsx
  packages/foundation/src/icons/IconPlayCircle.tsx
  packages/foundation/src/icons/IconPopcorn.tsx
  packages/foundation/src/icons/IconPopdeal.tsx
  packages/foundation/src/icons/IconRestaurant.tsx
  packages/foundation/src/icons/IconRocket.tsx
  packages/foundation/src/icons/IconText.tsx
  packages/foundation/src/icons/IconTicketPlay.tsx
Due: prettier --write, eslint --fix

[DPN-2568] Action 아이콘 geometry 정규화
  packages/foundation/src/icons/IconBookmark.tsx
  packages/foundation/src/icons/IconCameraSwitch.tsx
  packages/foundation/src/icons/IconCart.tsx
  packages/foundation/src/icons/IconCartAdd.tsx
  packages/foundation/src/icons/IconChevronUpDown.tsx
  packages/foundation/src/icons/IconCopy.tsx
  packages/foundation/src/icons/IconDragMenu.tsx
  packages/foundation/src/icons/IconExport.tsx
  packages/foundation/src/icons/IconExternalLink.tsx
  packages/foundation/src/icons/IconFilter.tsx
  packages/foundation/src/icons/IconHamburger.tsx
  packages/foundation/src/icons/IconHeart.tsx
  packages/foundation/src/icons/IconHome.tsx
  packages/foundation/src/icons/IconLike.tsx
  packages/foundation/src/icons/IconLink.tsx
  packages/foundation/src/icons/IconList.tsx
  packages/foundation/src/icons/IconListBullet.tsx
  packages/foundation/src/icons/IconListNumber.tsx
  packages/foundation/src/icons/IconLogout.tsx
  packages/foundation/src/icons/IconMeatBall.tsx
  packages/foundation/src/icons/IconMenu.tsx
  packages/foundation/src/icons/IconMenuCheck.tsx
  packages/foundation/src/icons/IconPrinter.tsx
  packages/foundation/src/icons/IconSearch.tsx
  packages/foundation/src/icons/IconStar.tsx
  packages/foundation/src/icons/IconVisibility.tsx
Due: prettier --write, eslint --fix

[DPN-2568] System·Status 아이콘 geometry 정규화
  packages/foundation/src/icons/IconBriefcase.tsx
  packages/foundation/src/icons/IconCaution.tsx
  packages/foundation/src/icons/IconChartBar.tsx
  packages/foundation/src/icons/IconCheckBadge.tsx
  packages/foundation/src/icons/IconCheckCircle.tsx
  packages/foundation/src/icons/IconHelp.tsx
  packages/foundation/src/icons/IconInfoCircle.tsx
  packages/foundation/src/icons/IconMoneyCircle.tsx
  packages/foundation/src/icons/IconPhoneClock.tsx
  packages/foundation/src/icons/IconQuestionCircle.tsx
  packages/foundation/src/icons/IconSetting.tsx
  packages/foundation/src/icons/IconShop.tsx
  packages/foundation/src/icons/IconStopSign.tsx
  packages/foundation/src/icons/IconUser.tsx
  packages/foundation/src/icons/IconUserDouble.tsx
  packages/foundation/src/icons/IconUserSearch.tsx
  packages/foundation/src/icons/IconWarningTriangle.tsx
  packages/foundation/src/icons/IconXCircle.tsx
Due: prettier --write, eslint --fix

[DPN-2568] 혼동 아이콘 의미와 variant 분리
  packages/foundation/src/icons/IconCaretDown.tsx
  packages/foundation/src/icons/IconCaretUp.tsx
  packages/foundation/src/icons/IconGrid.tsx
  packages/foundation/src/icons/IconNotification.tsx
  packages/foundation/src/icons/IconQuote.tsx
  packages/foundation/src/icons/IconQuoteSerif.tsx
  packages/foundation/src/icons/IconRemove.tsx
  packages/foundation/src/icons/IconReset.tsx
  packages/foundation/src/icons/IconSound.tsx
  packages/foundation/src/icons/IconSync.tsx
  packages/foundation/src/icons/IconTicket.tsx
  packages/foundation/src/icons/IconTicketMovie.tsx
  packages/foundation/src/icons/IconTicketPoppass.tsx
  packages/foundation/src/icons/IconTrash.tsx
  packages/foundation/src/icons/IconTrashcan.tsx
Due: prettier --write, eslint --fix

[DPN-2568] PDS 신규 아이콘 컴포넌트 추가
  packages/foundation/src/icons/IconAlign.tsx
  packages/foundation/src/icons/IconChevronLeftCircle.tsx
  packages/foundation/src/icons/IconControl.tsx
  packages/foundation/src/icons/IconDocumentCheck.tsx
  packages/foundation/src/icons/IconDownload.tsx
  packages/foundation/src/icons/IconDownloadCircle.tsx
  packages/foundation/src/icons/IconKeyword.tsx
  packages/foundation/src/icons/IconMenuPlus.tsx
  packages/foundation/src/icons/IconOpenInFull.tsx
  packages/foundation/src/icons/IconParking.tsx
  packages/foundation/src/icons/IconPlayTicket2.tsx
  packages/foundation/src/icons/IconPurchase.tsx
  packages/foundation/src/icons/IconReport.tsx
  packages/foundation/src/icons/IconReport2.tsx
  packages/foundation/src/icons/IconRoad.tsx
  packages/foundation/src/icons/IconSyncAlt.tsx
  packages/foundation/src/icons/IconVisibilityOff.tsx
  packages/foundation/src/icons/IconWeb.tsx
Due: prettier --write, eslint --fix

[DPN-2568] MegaphoneBlue 일러스트 geometry 갱신
  packages/foundation/src/illustrations/IllustrationMegaphoneBlue.tsx
Due: prettier --write, eslint --fix

[DPN-2568] 아이콘 public API 정리 및 소비처 마이그레이션
  packages/core/src/components/ImageInput/ImageInput.test.tsx
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/LottieInput/LottieInput.test.tsx
  packages/core/src/components/LottieInput/index.tsx
  packages/editor/src/Editor/Toolbar/index.tsx
  packages/foundation/src/icons/IconAlignHorizontal.tsx
  packages/foundation/src/icons/IconAlignVertical.tsx
  packages/foundation/src/icons/IconImage.tsx
  packages/foundation/src/icons/IconImageAdd.tsx
  packages/foundation/src/icons/IconPhoto.tsx
  packages/foundation/src/icons/index.ts
  packages/foundation/src/icons/metadata.ts
Due: prettier --write, eslint --fix

[DPN-2568] 아이콘 정규화 회귀 테스트와 changeset 추가
  .changeset/normalize-svg-icons.md
  packages/foundation/src/icons/__tests__/normalization.test.tsx
Due: prettier --write, eslint --fix

[DPN-2568] IconDownloadCircle white stroke 제거
  packages/foundation/src/icons/IconDownloadCircle.tsx
  packages/foundation/src/icons/__tests__/normalization.test.tsx
Due: prettier --write, eslint --fix

chore(release): bump @pop-ui/{foundation,core}@2.0.0
  .changeset/normalize-svg-icons.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/foundation/CHANGELOG.md
  packages/foundation/package.json
Due: none

[DPN-3582] Mantine·Pop UI production 호환성 소규모 검증
  packages/core/README.md
  packages/core/package.json
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/core/src/components/DatePicker/index.tsx
  packages/core/src/ssr.test.tsx
  packages/core/vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

[DPN-3582] Foundation 아이콘 하위 호환성 복구
  packages/core/README.md
  packages/core/src/components/ImageInput/ImageInput.test.tsx
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/LottieInput/LottieInput.test.tsx
  packages/core/src/components/LottieInput/index.tsx
  packages/foundation/src/icons/__tests__/normalization.test.tsx
  packages/foundation/src/icons/index.ts
  packages/foundation/src/icons/metadata.ts
Due: prettier --write, eslint --fix

[DPN-3582] Mantine·Pop UI production 호환성 소규모 검증 (#144)
  packages/core/README.md
  packages/core/package.json
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/core/src/components/DatePicker/index.tsx
  packages/core/src/components/ImageInput/ImageInput.test.tsx
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/LottieInput/LottieInput.test.tsx
  packages/core/src/components/LottieInput/index.tsx
  packages/core/src/ssr.test.tsx
  packages/core/vite.config.ts
  packages/foundation/src/icons/__tests__/normalization.test.tsx
  packages/foundation/src/icons/index.ts
  packages/foundation/src/icons/metadata.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): bump @pop-ui/{foundation,core}@2.1.0
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/foundation/CHANGELOG.md
  packages/foundation/package.json
Due: none

fix(core): Toggle checked를 controlled/uncontrolled로 분리
  packages/core/src/components/Toggle/Toggle.test.tsx
  packages/core/src/components/Toggle/index.tsx
Due: prettier --write, eslint --fix

fix(core): Modal styles를 기본 스타일과 슬롯별로 병합
  packages/core/src/components/Modal/Modal.test.tsx
  packages/core/src/components/Modal/index.tsx
Due: prettier --write, eslint --fix

fix(core): 컴포넌트 props 타입을 루트 엔트리에서 export
  packages/core/src/index.test.ts
  packages/core/src/index.ts
Due: prettier --write, eslint --fix

fix(core): Button warning 포커스 상태 텍스트 대비 수정
  packages/core/src/components/Button/styles.module.scss
  packages/core/src/components/Button/styles.test.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore(core): 컴포넌트 버그 수정 changeset 추가
  .changeset/fix-core-component-bugs.md
Due: none
