Repository datepop/pop-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

refactor: 스타일링 시스템 개선 및 prop 이름 변경
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.stories.tsx
  packages/core/src/components/CalendarDatePicker/CustomStyles.module.scss
  packages/core/src/components/CalendarDatePicker/README.md
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/core/src/components/CalendarDatePicker/styles.module.scss
  packages/core/src/components/CalendarDatePicker/types.ts
  packages/core/src/components/CalendarDatePicker/utils.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: 스타일 병합 로직 개선 및 타입 export
  packages/core/src/components/CalendarDatePicker/README.md
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/core/src/components/CalendarDatePicker/styles.module.scss
  packages/core/src/components/CalendarDatePicker/utils.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: non-null assertion 제거 및 mergeObjects 함수 개선
  packages/core/src/components/CalendarDatePicker/README.md
  packages/core/src/components/CalendarDatePicker/utils.ts
Due: prettier --write, eslint --fix

refactor: 타입 중복 제거 및 handleChange 함수 개선
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/core/src/components/CalendarDatePicker/types.ts
  packages/core/src/components/CalendarDatePicker/utils.ts
Due: prettier --write, eslint --fix

Publish
  packages/core/package.json
Due: none

fix: type prop 전달 누락 수정 및 문서화 개선
  packages/core/src/components/CalendarDatePicker/README.md
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/foundation/src/icons/IconMinus.tsx
  packages/foundation/src/index.ts
Due: prettier --write, eslint --fix

Publish
  packages/core/package.json
  packages/foundation/package.json
Due: none

chore: Add Claude Code marketplace config for datepop-review
  .claude/settings.json
Due: none

feat: Add Map and MapInfo components
  packages/core/src/components/Map/Map.stories.tsx
  packages/core/src/components/Map/Map.tsx
  packages/core/src/components/Map/NaverMapContext.tsx
  packages/core/src/components/Map/index.ts
  packages/core/src/components/Map/markerClustering.ts
  packages/core/src/components/Map/markerStyles.ts
  packages/core/src/components/Map/types.ts
  packages/core/src/components/Map/useLocation.ts
  packages/core/src/components/Map/useMap.ts
  packages/core/src/components/MapInfo/MapInfo.stories.tsx
  packages/core/src/components/MapInfo/index.tsx
  packages/core/src/components/MapInfo/styles.module.scss
  packages/core/src/components/MapInfo/types.ts
  packages/core/src/components/index.ts
  packages/core/src/theme/ThemeProvider.tsx
  packages/core/src/theme/index.ts
  packages/core/src/types/naver-maps.d.ts
  packages/foundation/src/icons/IconDirection.tsx
  packages/foundation/src/icons/IconLocationTarget.tsx
  packages/foundation/src/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: sync package versions with npm registry
  packages/core/package.json
  packages/foundation/package.json
Due: none

fix: restore workspace:* for foundation dependency
  packages/core/package.json
Due: none

fix: add explicit npm auth configuration for @pop-ui scope
  .github/workflows/publish.yml
Due: none

debug: add npm auth verification
  .github/workflows/publish.yml
Due: none

chore: remove debug npm auth verification
  .github/workflows/publish.yml
Due: none

chore: migrate to OIDC Trusted Publishing
  .github/workflows/publish.yml
Due: none

fix: update tag pattern for lerna monorepo
  .github/workflows/publish.yml
Due: none

chore: migrate to Jenkins, remove unused GHA workflows
  .github/workflows/chromatic.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/pr-notify.yml
Due: none

refactor(MapInfo): restructure props for better extensibility
  packages/core/src/components/MapInfo/MapInfo.stories.tsx
  packages/core/src/components/MapInfo/index.tsx
  packages/core/src/components/MapInfo/types.ts
  packages/core/src/components/index.ts
Due: prettier --write, eslint --fix

✨ feat: IconInfo, IconCaution 추가 및 일부 아이콘 이름 변경
  packages/foundation/CHANGELOG.md
  packages/foundation/src/icons/IconCaretDown.tsx
  packages/foundation/src/icons/IconCaretUp.tsx
  packages/foundation/src/icons/IconCaution.tsx
  packages/foundation/src/icons/IconInfo.tsx
  packages/foundation/src/icons/IconMeatBall.tsx
  packages/foundation/src/icons/index.ts
Due: prettier --write, eslint --fix

refactor: 아이콘 export 구조 간소화
  packages/foundation/src/index.ts
Due: prettier --write, eslint --fix

Publish
  packages/foundation/package.json
Due: none

ci: publish 파이프라인을 GitHub Actions에서 Jenkins로 이전
  .github/workflows/publish.yml
  package.json
Due: none

✨[DPN-620] IIllustrationProps 인터페이스 추가
  packages/foundation/src/types/illustration.ts
Due: prettier --write, eslint --fix

✨ [DPN-621] filled prop을 variant prop으로 변경
  packages/foundation/src/icons/Icons.stories.tsx
  packages/foundation/src/types/icon.ts
Due: prettier --write, eslint --fix

feat: Illustrations 스토리 추가
  packages/foundation/src/illustrations/Illustrations.stories.tsx
Due: prettier --write, eslint --fix

✨[DPN-620]Illustration 아이콘 추가
  packages/foundation/src/illustrations/IllustrationBell.tsx
  packages/foundation/src/illustrations/IllustrationCalendar.tsx
  packages/foundation/src/illustrations/IllustrationChat.tsx
  packages/foundation/src/illustrations/IllustrationClapperboard.tsx
  packages/foundation/src/illustrations/IllustrationCreditcard.tsx
  packages/foundation/src/illustrations/IllustrationDiscountcoupon.tsx
  packages/foundation/src/illustrations/IllustrationDiscounttag.tsx
  packages/foundation/src/illustrations/IllustrationExel.tsx
  packages/foundation/src/illustrations/IllustrationFolder.tsx
  packages/foundation/src/illustrations/IllustrationLink.tsx
  packages/foundation/src/illustrations/IllustrationMappinmint.tsx
  packages/foundation/src/illustrations/IllustrationMappinred.tsx
  packages/foundation/src/illustrations/IllustrationMoneybag.tsx
  packages/foundation/src/illustrations/IllustrationPopcorn.tsx
  packages/foundation/src/illustrations/IllustrationShop.tsx
  packages/foundation/src/illustrations/IllustrationShoppingbag.tsx
  packages/foundation/src/illustrations/IllustrationSoda.tsx
  packages/foundation/src/illustrations/IllustrationVendingmachine.tsx
Due: prettier --write, eslint --fix

✨ [DPN-645] 의미 기준 분류 체계 반영한 metadata.ts 추가
  packages/foundation/src/icons/metadata.ts
Due: prettier --write, eslint --fix

fix: IllustrationCalendar 함수 이름을 IllustrationFolder로 수정
  packages/foundation/src/illustrations/IllustrationFolder.tsx
Due: prettier --write, eslint --fix

fix: viewBox 속성을 31에서 32로 수정
  packages/foundation/src/illustrations/IllustrationMappinred.tsx
Due: prettier --write, eslint --fix

✨[DPN-620] illustrations 배럴 파일 생성 및 export 추가
  packages/foundation/src/illustrations/index.ts
  packages/foundation/src/index.ts
Due: prettier --write, eslint --fix

[DPN-625] 중복 아이콘 삭제
  packages/foundation/src/icons/IconDown.tsx
  packages/foundation/src/icons/IconLocationTarget.tsx
  packages/foundation/src/icons/IconMetaBall.tsx
  packages/foundation/src/icons/IconUp.tsx
  packages/foundation/src/icons/index.ts
Due: prettier --write, eslint --fix

[DPN-625] 기존 아이콘 네이밍 규칙에 따라 변경
  packages/foundation/src/icons/IconBriefcase.tsx
  packages/foundation/src/icons/IconChartBar.tsx
  packages/foundation/src/icons/IconChevronUpDown.tsx
  packages/foundation/src/icons/IconExternalLink.tsx
  packages/foundation/src/icons/IconGrid.tsx
  packages/foundation/src/icons/IconHamburger.tsx
  packages/foundation/src/icons/IconMoneyCircle.tsx
  packages/foundation/src/icons/IconPhoneClock.tsx
  packages/foundation/src/icons/IconPoppass.tsx
  packages/foundation/src/icons/IconRefresh.tsx
  packages/foundation/src/icons/IconSirenImportant.tsx
  packages/foundation/src/icons/IconSmartphone.tsx
  packages/foundation/src/icons/IconWarningTriangle.tsx
  packages/foundation/src/icons/IconX.tsx
  packages/foundation/src/icons/IconXCircle.tsx
  packages/foundation/src/icons/index.ts
Due: prettier --write, eslint --fix
