Repository datepop/pop-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

refactor(core): unify component exports to named-only
  packages/core/src/components/Button/index.tsx
  packages/core/src/components/Checkbox/index.tsx
  packages/core/src/components/DatePicker/index.tsx
  packages/core/src/components/Dropdown/index.tsx
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/LottieInput/index.tsx
  packages/core/src/components/Map/Map.tsx
  packages/core/src/components/Map/index.ts
  packages/core/src/components/MapInfo/index.tsx
  packages/core/src/components/Modal/index.tsx
  packages/core/src/components/Pagination/index.tsx
  packages/core/src/components/Radio/index.tsx
  packages/core/src/components/SearchBar/index.tsx
  packages/core/src/components/SegmentButton/index.tsx
  packages/core/src/components/Tab/index.tsx
  packages/core/src/components/TextField/index.tsx
  packages/core/src/components/TimePicker/index.tsx
  packages/core/src/components/Toast/index.tsx
  packages/core/src/components/Toggle/index.tsx
  packages/core/src/components/Tooltip/index.tsx
Due: prettier --write, eslint --fix

docs: add CLAUDE.md with pop-ui API conventions for AI/human consistency
  CLAUDE.md
Due: none

chore(foundation): fix stale typography token name in variables.scss
  packages/core/src/components/shared/variables.scss
Due: stylelint --fix

chore: stop prettier from reformatting generated token files
  .prettierignore
  packages/foundation/src/tokens/colors.ts
Due: prettier --write, eslint --fix

style(foundation): fix import group spacing in Illustrations.stories
  packages/foundation/src/illustrations/Illustrations.stories.tsx
Due: prettier --write, eslint --fix

fix(button): align loading behavior with spec — hide label, intercept Mantine loading
  packages/core/src/components/Button/index.tsx
Due: prettier --write, eslint --fix

fix(core): re-export Button as named instead of default
  packages/core/src/components/index.ts
Due: prettier --write, eslint --fix

refactor(core): extract inline prop types to types.ts (simple cases)
  packages/core/src/components/Checkbox/index.tsx
  packages/core/src/components/Checkbox/types.ts
  packages/core/src/components/Dropdown/index.tsx
  packages/core/src/components/Dropdown/types.ts
  packages/core/src/components/Modal/index.tsx
  packages/core/src/components/Modal/types.ts
  packages/core/src/components/Pagination/index.tsx
  packages/core/src/components/Pagination/types.ts
  packages/core/src/components/Radio/index.tsx
  packages/core/src/components/Radio/types.ts
  packages/core/src/components/SearchBar/index.tsx
  packages/core/src/components/SearchBar/types.ts
  packages/core/src/components/SegmentButton/index.tsx
  packages/core/src/components/SegmentButton/types.ts
  packages/core/src/components/Tab/index.tsx
  packages/core/src/components/Tab/types.ts
  packages/core/src/components/TimePicker/index.tsx
  packages/core/src/components/TimePicker/types.ts
  packages/core/src/components/Tooltip/index.tsx
  packages/core/src/components/Tooltip/types.ts
Due: prettier --write, eslint --fix

refactor(core): extract IToggleProps to types.ts, use named ChangeEvent
  packages/core/src/components/Toggle/index.tsx
  packages/core/src/components/Toggle/types.ts
Due: prettier --write, eslint --fix

refactor(core): extract IDatePickerProps to types.ts, use named ReactNode
  packages/core/src/components/DatePicker/index.tsx
  packages/core/src/components/DatePicker/types.ts
Due: prettier --write, eslint --fix

refactor(core): extract TextField prop types to types.ts
  packages/core/src/components/TextField/index.tsx
  packages/core/src/components/TextField/types.ts
Due: prettier --write, eslint --fix

feat(core): export all component prop types from barrel
  packages/core/src/components/index.ts
Due: prettier --write, eslint --fix

docs: 컨벤션에 prop 타입 types.ts 정의 + barrel export 규칙 추가
  CLAUDE.md
Due: none

sync: main → develop 동기화 (prop 타입 단일원천화 D+B 포함) (#124)
  CLAUDE.md
  packages/core/src/components/Checkbox/index.tsx
  packages/core/src/components/Checkbox/types.ts
  packages/core/src/components/DatePicker/index.tsx
  packages/core/src/components/DatePicker/types.ts
  packages/core/src/components/Dropdown/index.tsx
  packages/core/src/components/Dropdown/types.ts
  packages/core/src/components/Modal/index.tsx
  packages/core/src/components/Modal/types.ts
  packages/core/src/components/Pagination/index.tsx
  packages/core/src/components/Pagination/types.ts
  packages/core/src/components/Radio/index.tsx
  packages/core/src/components/Radio/types.ts
  packages/core/src/components/SearchBar/index.tsx
  packages/core/src/components/SearchBar/types.ts
  packages/core/src/components/SegmentButton/index.tsx
  packages/core/src/components/SegmentButton/types.ts
  packages/core/src/components/Tab/index.tsx
  packages/core/src/components/Tab/types.ts
  packages/core/src/components/TextField/index.tsx
  packages/core/src/components/TextField/types.ts
  packages/core/src/components/TimePicker/index.tsx
  packages/core/src/components/TimePicker/types.ts
  packages/core/src/components/Toggle/index.tsx
  packages/core/src/components/Toggle/types.ts
  packages/core/src/components/Tooltip/index.tsx
  packages/core/src/components/Tooltip/types.ts
  packages/core/src/components/index.ts
Due: prettier --write, eslint --fix

feat(foundation): SCSS spacing/font-size/border-width map + px 변환 함수
  packages/core/src/components/shared/_border-width-map.scss
  packages/core/src/components/shared/_font-size-map.scss
  packages/core/src/components/shared/_functions.scss
  packages/core/src/components/shared/_spacing-map.scss
  packages/foundation/config.js
Due: prettier --write, eslint --fix, stylelint --fix

refactor(core): 정확일치 하드코딩 hex를 foundation 색상 상수로 교체
  packages/core/src/components/Dropdown/index.tsx
  packages/core/src/components/ImageInput/ImageInputCropModal.tsx
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/LottieInput/index.tsx
  packages/core/src/components/Toggle/index.tsx
  packages/core/src/components/shared/MultiItemInput/TileShell.tsx
Due: prettier --write, eslint --fix

refactor(core): SCSS px를 spacing/font-size/border-width 함수로 교체
  packages/core/src/components/Button/styles.module.scss
  packages/core/src/components/Checkbox/styles.module.scss
  packages/core/src/components/DatePicker/styles.module.scss
  packages/core/src/components/Dropdown/styles.module.scss
  packages/core/src/components/ImageInput/styles.module.scss
  packages/core/src/components/LottieInput/styles.module.scss
  packages/core/src/components/MapInfo/styles.module.scss
  packages/core/src/components/Pagination/style.module.scss
  packages/core/src/components/Radio/styles.module.scss
  packages/core/src/components/SearchBar/styles.module.scss
  packages/core/src/components/SegmentButton/styles.module.scss
  packages/core/src/components/Tab/styles.module.scss
  packages/core/src/components/TextField/styles.module.scss
  packages/core/src/components/TimePicker/styles.module.scss
  packages/core/src/components/Toast/styles.module.scss
  packages/core/src/components/Toggle/styles.module.scss
  packages/core/src/components/Tooltip/styles.module.scss
  packages/core/src/components/shared/MultiItemInput/styles.module.scss
Due: stylelint --fix

test(core): ImageInput/LottieInput mock에 색상 상수 추가
  packages/core/src/components/ImageInput/ImageInput.test.tsx
  packages/core/src/components/LottieInput/LottieInput.test.tsx
Due: prettier --write, eslint --fix

refactor(core): CalendarDatePicker CustomStyles 토큰화 + 클래스명 BEM 정합
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.stories.tsx
  packages/core/src/components/CalendarDatePicker/CustomStyles.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

docs: SCSS px 대신 spacing/font-size/border-width 함수 컨벤션 추가
  CLAUDE.md
Due: none

sync: main → develop 동기화 (토큰 하드코딩 복구 A 포함) (#126)
  CLAUDE.md
  packages/core/src/components/Button/styles.module.scss
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.stories.tsx
  packages/core/src/components/CalendarDatePicker/CustomStyles.module.scss
  packages/core/src/components/Checkbox/styles.module.scss
  packages/core/src/components/DatePicker/styles.module.scss
  packages/core/src/components/Dropdown/index.tsx
  packages/core/src/components/Dropdown/styles.module.scss
  packages/core/src/components/ImageInput/ImageInput.test.tsx
  packages/core/src/components/ImageInput/ImageInputCropModal.tsx
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/ImageInput/styles.module.scss
  packages/core/src/components/LottieInput/LottieInput.test.tsx
  packages/core/src/components/LottieInput/index.tsx
  packages/core/src/components/LottieInput/styles.module.scss
  packages/core/src/components/MapInfo/styles.module.scss
  packages/core/src/components/Pagination/style.module.scss
  packages/core/src/components/Radio/styles.module.scss
  packages/core/src/components/SearchBar/styles.module.scss
  packages/core/src/components/SegmentButton/styles.module.scss
  packages/core/src/components/Tab/styles.module.scss
  packages/core/src/components/TextField/styles.module.scss
  packages/core/src/components/TimePicker/styles.module.scss
  packages/core/src/components/Toast/styles.module.scss
  packages/core/src/components/Toggle/index.tsx
  packages/core/src/components/Toggle/styles.module.scss
  packages/core/src/components/Tooltip/styles.module.scss
  packages/core/src/components/shared/MultiItemInput/TileShell.tsx
  packages/core/src/components/shared/MultiItemInput/styles.module.scss
  packages/core/src/components/shared/_border-width-map.scss
  packages/core/src/components/shared/_font-size-map.scss
  packages/core/src/components/shared/_functions.scss
  packages/core/src/components/shared/_spacing-map.scss
  packages/foundation/config.js
Due: prettier --write, eslint --fix, stylelint --fix

test(core): getMarkerHTML 순수 함수 테스트 추가
  packages/core/src/components/Map/markerStyles.test.ts
Due: prettier --write, eslint --fix

test(core): Pagination 페이지 산술/onPageChange/arrow 가시성 테스트 추가
  packages/core/src/components/Pagination/Pagination.test.tsx
Due: prettier --write, eslint --fix

test(core): Toggle onChange/checked seed/trackWidth 맵 테스트 추가
  packages/core/src/components/Toggle/Toggle.test.tsx
Due: prettier --write, eslint --fix

test(core): SearchBar onChange 변환/clear 버튼/size 맵 테스트 추가
  packages/core/src/components/SearchBar/SearchBar.test.tsx
Due: prettier --write, eslint --fix

chore(core): 테스트 파일을 typecheck에 포함 + 타입 정합
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.test.tsx
  packages/core/src/components/DatePicker/DatePicker.stories.tsx
  packages/core/src/components/Toggle/Toggle.test.tsx
  packages/core/tsconfig.json
Due: prettier --write, eslint --fix

test(core): Dropdown errorMsg 매핑/chevron 토글/size 맵 테스트 추가
  packages/core/src/components/Dropdown/Dropdown.test.tsx
Due: prettier --write, eslint --fix

test(core): MapInfo directionHref/previewHeight/기본값/early-return 테스트 추가
  packages/core/src/components/MapInfo/MapInfo.test.tsx
Due: prettier --write, eslint --fix

test(core): useLocation 성공/에러/isActive 가드/단일플라이트 테스트 추가
  packages/core/src/components/Map/useLocation.test.tsx
Due: prettier --write, eslint --fix

test(core): useMap addMarker 등록/updateMarker active 토글 테스트 추가
  packages/core/src/components/Map/useLocation.test.tsx
  packages/core/src/components/Map/useMap.test.tsx
Due: prettier --write, eslint --fix

test(core): MapInfo unstubAllGlobals를 afterEach로 이동 (throw-safe)
  packages/core/src/components/MapInfo/MapInfo.test.tsx
Due: prettier --write, eslint --fix

fix(core): 빌드용/테스트용 tsconfig 분리 — dist 선언 오염 방지
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/tsconfig.test.json
Due: none

test(core): 미테스트 컴포넌트 7개 테스트 추가 + 테스트 typecheck 포함 (#127)
  packages/core/package.json
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.test.tsx
  packages/core/src/components/DatePicker/DatePicker.stories.tsx
  packages/core/src/components/Dropdown/Dropdown.test.tsx
  packages/core/src/components/Map/markerStyles.test.ts
  packages/core/src/components/Map/useLocation.test.tsx
  packages/core/src/components/Map/useMap.test.tsx
  packages/core/src/components/MapInfo/MapInfo.test.tsx
  packages/core/src/components/Pagination/Pagination.test.tsx
  packages/core/src/components/SearchBar/SearchBar.test.tsx
  packages/core/src/components/Toggle/Toggle.test.tsx
  packages/core/tsconfig.json
  packages/core/tsconfig.test.json
Due: prettier --write, eslint --fix

fix(core): process.env.NODE_ENV를 import.meta.env.DEV로 교체
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/LottieInput/index.tsx
Due: prettier --write, eslint --fix

ci: 모든 빌드 흐름에 yarn typecheck 게이트 추가
  Jenkinsfile
Due: none

docs: 검증 섹션에 CI typecheck 게이트 반영
  CLAUDE.md
Due: none

ci: 타입 안전망 추가 (Jenkins typecheck 게이트) (#128)
  CLAUDE.md
  Jenkinsfile
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/LottieInput/index.tsx
Due: prettier --write, eslint --fix

chore: @changesets/cli 도입 (versioning + CHANGELOG)
  .changeset/README.md
  .changeset/config.json
  package.json
  packages/foundation/CHANGELOG.md
  yarn.lock
Due: none

chore: @changesets/cli 도입 (versioning + CHANGELOG) (#129)
  .changeset/README.md
  .changeset/config.json
  package.json
  packages/foundation/CHANGELOG.md
  yarn.lock
Due: none
