Repository datepop/pop-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

fix(core): Modal 기본 스타일 병합의 fullScreen·함수형·body padding 보정
  packages/core/src/components/Modal/Modal.test.tsx
  packages/core/src/components/Modal/index.tsx
Due: prettier --write, eslint --fix

test(core): Toggle checked 전달 검증 추가 및 Button 포커스 대비 테스트명 정정
  packages/core/src/components/Button/styles.test.ts
  packages/core/src/components/Toggle/Toggle.test.tsx
Due: prettier --write, eslint --fix

chore(core): changeset에 Modal styles 마이그레이션 안내 추가
  .changeset/fix-core-component-bugs.md
Due: none

fix(core): Button warning 포커스 텍스트를 red-500으로 통일
  .changeset/fix-core-component-bugs.md
  packages/core/src/components/Button/styles.module.scss
  packages/core/src/components/Button/styles.test.ts
Due: prettier --write, eslint --fix, stylelint --fix

[DPN-3677] core 컴포넌트 버그 4건 수정 (Toggle controlled, Modal styles 병합, 루트 타입 export, Button warning 포커스 색) (#148)
  .changeset/fix-core-component-bugs.md
  packages/core/src/components/Button/styles.module.scss
  packages/core/src/components/Button/styles.test.ts
  packages/core/src/components/Modal/Modal.test.tsx
  packages/core/src/components/Modal/index.tsx
  packages/core/src/components/Toggle/Toggle.test.tsx
  packages/core/src/components/Toggle/index.tsx
  packages/core/src/index.test.ts
  packages/core/src/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore(release): bump @pop-ui/{foundation,core}@2.1.1
  .changeset/fix-core-component-bugs.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/foundation/CHANGELOG.md
  packages/foundation/package.json
Due: none

chore: main을 develop에 역병합 (2026.10.03 릴리즈 후속) (#150)
  .changeset/fix-core-component-bugs.md
  .changeset/normalize-svg-icons.md
  Jenkinsfile
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/foundation/CHANGELOG.md
  packages/foundation/package.json
  packages/foundation/src/jenkinsfile.test.ts
Due: prettier --write, eslint --fix

[DPN-2236] release 빌드를 jenkins-worker 로 이전
  Jenkinsfile
  packages/foundation/src/jenkinsfile.test.ts
Due: prettier --write, eslint --fix

[DPN-2236] release 빌드를 jenkins-worker 로 이전 (#151)
  Jenkinsfile
  packages/foundation/src/jenkinsfile.test.ts
Due: prettier --write, eslint --fix
