Repository datepop/pop-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: vitest 설정, 테스트 인프라, README 업데이트
  package.json
  packages/core/README.md
  packages/core/src/theme/ThemeProvider.test.tsx
  packages/foundation/src/tokens/colors.test.ts
  vitest.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix(foundation): color 토큰 수정
  packages/core/src/components/Button/Button.stories.tsx
  packages/core/src/components/Button/index.tsx
  packages/core/src/components/Button/styles.module.scss
  packages/core/src/components/Button/type.ts
  packages/foundation/src/icons/IconCaution.tsx
  packages/foundation/src/icons/IconCheckCircle.tsx
  packages/foundation/src/icons/IconInfoCircle.tsx
  packages/foundation/src/icons/IconMapMarker.tsx
  packages/foundation/src/icons/IconMoneyCircle.tsx
  packages/foundation/src/icons/IconPlayCircle.tsx
  packages/foundation/src/icons/IconPlusCircle.tsx
  packages/foundation/src/icons/IconPopdeal.tsx
  packages/foundation/src/icons/IconQuestionCircle.tsx
  packages/foundation/src/icons/IconWarningCircle.tsx
  packages/foundation/src/icons/IconWarningTriangle.tsx
  packages/foundation/src/icons/IconXCircle.tsx
  packages/foundation/src/icons/Icons.stories.tsx
  packages/foundation/src/tokens/colors.test.ts
  packages/foundation/src/tokens/colors.ts
  packages/foundation/token.json
  packages/foundation/transformed-token.json
Due: prettier --write, eslint --fix, stylelint --fix

fix(core): 라디오 버튼 사이즈별 레이아웃 오류 수정
  packages/core/src/components/Radio/index.tsx
  packages/core/src/components/Radio/styles.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix(core): 세그먼트 버튼 구분선 삭제
  packages/core/src/components/SegmentButton/index.tsx
  packages/core/src/components/SegmentButton/styles.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix(core): 변경된 컬러토큰 반영
  packages/core/src/components/CalendarDatePicker/styles.module.scss
  packages/core/src/components/DatePicker/styles.module.scss
  packages/core/src/components/MapInfo/styles.module.scss
  packages/core/src/components/Pagination/style.module.scss
  packages/core/src/components/Tab/styles.module.scss
  packages/core/src/components/TimePicker/index.tsx
  packages/core/src/components/TimePicker/styles.module.scss
  packages/core/src/components/Toast/styles.module.scss
  packages/core/src/components/Tooltip/styles.module.scss
  packages/core/src/components/shared/variables.scss
Due: prettier --write, eslint --fix, stylelint --fix

✨ feat(core): ImageInput 컴포넌트 추가 및 ImageUploader 제거
  packages/core/package.json
  packages/core/src/components/ImageInput/ImageInput.stories.tsx
  packages/core/src/components/ImageInput/ImageInput.test.tsx
  packages/core/src/components/ImageInput/ImageInputCropModal.tsx
  packages/core/src/components/ImageInput/helpers.test.ts
  packages/core/src/components/ImageInput/helpers.ts
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/ImageInput/styles.module.scss
  packages/core/src/components/ImageInput/types.ts
  packages/core/src/components/ImageUploader/ImageUploader.stories.tsx
  packages/core/src/components/ImageUploader/index.tsx
  packages/core/src/components/ImageUploader/styles.module.scss
  packages/core/src/components/Modal/index.tsx
  packages/core/src/components/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

refactor(core): shared/MultiItemInput 공유 레이어 추출
  packages/core/src/components/shared/MultiItemInput/Dropzone.tsx
  packages/core/src/components/shared/MultiItemInput/TileShell.tsx
  packages/core/src/components/shared/MultiItemInput/helpers.ts
  packages/core/src/components/shared/MultiItemInput/styles.module.scss
  packages/core/src/components/shared/MultiItemInput/useSortableGrid.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(core): ImageInput을 shared/MultiItemInput 기반으로 리팩토링
  packages/core/src/components/ImageInput/helpers.ts
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/ImageInput/styles.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

✨ feat(core): LottieInput 컴포넌트 구현
  packages/core/package.json
  packages/core/src/components/LottieInput/LottieInput.stories.tsx
  packages/core/src/components/LottieInput/LottieInput.test.tsx
  packages/core/src/components/LottieInput/example_lottie.json
  packages/core/src/components/LottieInput/helpers.test.ts
  packages/core/src/components/LottieInput/helpers.ts
  packages/core/src/components/LottieInput/index.tsx
  packages/core/src/components/LottieInput/styles.module.scss
  packages/core/src/components/LottieInput/types.ts
  packages/core/src/components/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

style(core): DatePicker 입력 높이 조정 및 캘린더 아이콘 ghost 버튼으로 변경
  packages/core/src/components/DatePicker/styles.module.scss
Due: stylelint --fix

fix(core): DatePicker Mantine 8 DateStringValue 날짜 정규화 및 테스트 재작성
  packages/core/src/components/DatePicker/DatePicker.test.tsx
  packages/core/src/components/DatePicker/index.tsx
Due: prettier --write, eslint --fix

fix(core): DatePicker withTime 브랜치 string↔Date 타입 변환 누락 수정
  packages/core/src/components/DatePicker/index.tsx
Due: prettier --write, eslint --fix

fix(core): getPlaceholderCount minLength+maxLength 동시 사용 시 추가 UI 조기 소멸 버그 수정
  packages/core/src/components/ImageInput/helpers.test.ts
  packages/core/src/components/LottieInput/helpers.test.ts
  packages/core/src/components/shared/MultiItemInput/helpers.ts
Due: prettier --write, eslint --fix

fix(core): TimePicker showPicker 미지원 브라우저 TypeError 방어
  packages/core/src/components/TimePicker/index.tsx
Due: prettier --write, eslint --fix

fix(foundation): ColorPalette flat 컬러토큰(white/black) 파싱 오류 수정
  packages/foundation/src/theme/colors/ColorPalette.tsx
  packages/foundation/src/theme/colors/tokens.ts
Due: prettier --write, eslint --fix

fix(core): DatePicker withTime 시간 유실 및 TextField clear 버튼 접근성 수정
  packages/core/src/components/DatePicker/index.tsx
  packages/core/src/components/TextField/index.tsx
Due: prettier --write, eslint --fix

fix(core): DatePicker withTime uncontrolled 모드 value 충돌 및 TextField uncontrolled clear 버그 수정
  packages/core/src/components/DatePicker/index.tsx
  packages/core/src/components/TextField/index.tsx
Due: prettier --write, eslint --fix

fix(core): DatePicker withTime 커스텀 valueFormat 파싱 실패 수정
  packages/core/src/components/DatePicker/index.tsx
Due: prettier --write, eslint --fix

chore(release): publish @pop-ui/foundation@1.1.5 [skip ci]
  packages/foundation/package.json
Due: none

chore(release): publish @pop-ui/core@0.1.0 [skip ci]
  packages/core/package.json
Due: none

feat(core): position 모드 공통 인프라 추가
  packages/core/src/components/shared/MultiItemInput/SortableEmptySlot.tsx
  packages/core/src/components/shared/MultiItemInput/TileShell.tsx
  packages/core/src/components/shared/MultiItemInput/helpers.ts
  packages/core/src/components/shared/MultiItemInput/usePositionGrid.ts
Due: prettier --write, eslint --fix

feat(core): ImageInput position 모드 및 accept 타입 강화
  packages/core/src/components/ImageInput/ImageInput.stories.tsx
  packages/core/src/components/ImageInput/helpers.test.ts
  packages/core/src/components/ImageInput/helpers.ts
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/ImageInput/types.ts
  packages/core/src/components/index.ts
Due: prettier --write, eslint --fix

feat(core): LottieInput position 모드 지원
  packages/core/src/components/LottieInput/helpers.ts
  packages/core/src/components/LottieInput/index.tsx
  packages/core/src/components/LottieInput/types.ts
Due: prettier --write, eslint --fix

fix(core): position 모드 리뷰 피드백 반영
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/LottieInput/index.tsx
  packages/core/src/components/shared/MultiItemInput/TileShell.tsx
Due: prettier --write, eslint --fix

fix(core): ImageInput blob URL 메모리 누수 및 LottieTile 미리보기 갱신 수정
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/LottieInput/index.tsx
Due: prettier --write, eslint --fix

chore(release): publish @pop-ui/core@0.1.1 [skip ci]
  packages/core/package.json
Due: none

fix(core): Next.js App Router 엔트리 경계 정리
  packages/core/README.md
  packages/core/src/index.ts
  packages/core/src/theme/ThemeProvider.tsx
Due: prettier --write, eslint --fix

fix(button): submit type과 click handler 타입 지원
  packages/core/src/components/Button/index.tsx
  packages/core/src/components/Button/type.ts
Due: prettier --write, eslint --fix

fix(button): props spread 순서 수정으로 type/onClick 오버라이드 허용
  packages/core/src/components/Button/index.tsx
Due: prettier --write, eslint --fix

fix(core): LottieTile useEffect 의존성에 item.url 추가
  packages/core/src/components/LottieInput/index.tsx
Due: prettier --write, eslint --fix

feat(core): ImageInput 기존 이미지 타일에 Drag & Drop 교체 지원
  packages/core/src/components/ImageInput/index.tsx
  packages/core/src/components/shared/MultiItemInput/TileShell.tsx
  packages/core/src/components/shared/MultiItemInput/styles.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix(core): 기본 엔트리에서 전역 스타일 side effect import 복원
  packages/core/src/index.ts
Due: prettier --write, eslint --fix

fix(core): 패키지 루트 엔트리에서 'use client' 제거
  packages/core/src/index.ts
Due: prettier --write, eslint --fix

chore(release): publish @pop-ui/core@0.0.42 [skip ci]
  packages/core/package.json
Due: none

chore(release): publish @pop-ui/core@0.1.2 [skip ci]
  packages/core/package.json
Due: none

[DPN-1212] CODEOWNERS 추가
  .github/CODEOWNERS
Due: none

[DPN-1212] CODEOWNERS 추가 (#96)
  .github/CODEOWNERS
Due: none

[DPN-1212] PR 템플릿 추가
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

[DPN-1212] PR 템플릿 추가 (#98)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.scss
