Repository datepop/pop-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

ESLint 에러 수정 및 TypeScript 타입 안전성 개선
  .husky/pre-commit
  .storybook/preview.tsx
  packages/core/src/components/Dropdown/index.tsx
  packages/core/src/components/Pagination/index.tsx
  packages/core/src/components/TextField/index.tsx
  packages/core/src/components/shared/styles.ts
  packages/core/src/theme/cssVariables.ts
  packages/core/src/theme/mantineTheme.ts
  packages/foundation/src/icons/IconExport.tsx
  packages/foundation/src/icons/IconHelp.tsx
  packages/foundation/src/icons/IconLocation.tsx
  packages/foundation/src/icons/IconMetaBall.tsx
  packages/foundation/src/icons/Icons.stories.tsx
  packages/foundation/src/theme/colors/tokens.ts
Due: prettier --write, eslint --fix

TypeScript naming convention 강제: Interface I prefix, Type T prefix 적용
  eslint.config.mjs
  packages/core/src/components/Alert/index.tsx
  packages/core/src/components/Button/style.ts
  packages/core/src/components/Checkbox/index.tsx
  packages/core/src/components/DatePicker/index.tsx
  packages/core/src/components/Dropdown/index.tsx
  packages/core/src/components/ImageUploader/index.tsx
  packages/core/src/components/Modal/index.tsx
  packages/core/src/components/Pagination/index.tsx
  packages/core/src/components/Radio/index.tsx
  packages/core/src/components/SearchBar/index.tsx
  packages/core/src/components/SegmentButton/index.tsx
  packages/core/src/components/Tab/index.tsx
  packages/core/src/components/TextField/index.tsx
  packages/core/src/components/TimePicker/index.tsx
  packages/core/src/components/Toggle/index.tsx
  packages/core/src/components/Tooltip/index.tsx
  packages/core/src/components/shared/styles.ts
  packages/core/src/theme/ThemeProvider.tsx
  packages/core/src/theme/cssVariables.ts
  packages/foundation/src/icons/IconAnalytics.tsx
  packages/foundation/src/icons/IconPopdeal.tsx
  packages/foundation/src/index.ts
  packages/foundation/src/theme/colors/ColorPalette.stories.tsx
  packages/foundation/src/theme/colors/ColorPalette.tsx
  packages/foundation/src/theme/colors/tokens.ts
Due: prettier --write, eslint --fix

Publish
  packages/core/package.json
  packages/foundation/package.json
Due: none

불필요한 테스트 샘플 코드 제거 및 Storybook 의존성 업데이트
  package.json
  packages/core/src/helpers/checkMessage/checkMessage.test.ts
  packages/core/src/helpers/checkMessage/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

Alert 컴포넌트를 Toast로 리팩토링: Mantine notifications 시스템 도입
  packages/core/package.json
  packages/core/src/components/Alert/Alert.stories.tsx
  packages/core/src/components/Alert/index.tsx
  packages/core/src/components/Alert/styles.module.scss
  packages/core/src/components/Toast/Toast.stories.tsx
  packages/core/src/components/Toast/index.tsx
  packages/core/src/components/Toast/styles.module.scss
  packages/core/src/components/Toast/type.ts
  packages/core/src/components/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

Publish
  packages/core/package.json
Due: none

PopUiProvider에 Notifications 통합: Mantine 완전 추상화
  .storybook/preview.tsx
  package.json
  packages/core/package.json
  packages/core/src/components/Toast/Toast.stories.tsx
  packages/core/src/components/index.ts
  packages/core/src/index.ts
  packages/core/src/theme/ThemeProvider.tsx
  packages/core/src/theme/index.ts
  packages/foundation/package.json
  vite.config.ts
Due: prettier --write, eslint --fix

의존성 업데이트: Storybook 10.0.3 → 10.0.4
  yarn.lock
Due: none

Toast와 PopUiProvider 통합 개선 및 위치 문제 수정
  .storybook/preview.tsx
  packages/core/src/components/Toast/index.tsx
  packages/core/src/components/Toast/styles.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

Toast 스토리 개선: Control 패널 활용 및 Position 스토리 추가
  .storybook/preview.tsx
  .stylelintrc.json
  packages/core/src/components/Toast/Toast.stories.tsx
  packages/core/src/components/Toast/styles.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

Storybook 의존성 정리 및 설정 개선
  .storybook/main.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

CSS 자동 import로 DX 개선: 사용자가 별도 CSS import 불필요
  packages/core/src/index.ts
  packages/core/src/styles.css
  vite.config.ts
Due: prettier --write, eslint --fix

ESLint 설정 강화: @typescript-eslint/no-explicit-any disable 금지
  eslint.config.mjs
  package.json
  packages/core/src/components/SearchBar/index.tsx
  packages/core/src/components/TextField/index.tsx
  packages/core/src/components/Toggle/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Toast 중복 방지 및 제어 기능 추가
  packages/core/src/components/Toast/Toast.stories.tsx
  packages/core/src/components/Toast/index.tsx
  packages/core/src/components/Toast/type.ts
Due: prettier --write, eslint --fix

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Storybook 개발 환경 개선: 빌드 없이 소스 파일 직접 참조
  .storybook/main.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Remove TypeScript paths to fix production build
  tsconfig.json
Due: none

feat: toast 컴포넌트 색상 커스터마이징 기능 추가
  packages/core/src/components/Toast/Toast.stories.tsx
  packages/core/src/components/Toast/index.tsx
  packages/core/src/components/Toast/type.ts
Due: prettier --write, eslint --fix

refactor: toast 컴포넌트 스타일 객체 최적화
  packages/core/src/components/Toast/index.tsx
Due: prettier --write, eslint --fix

fix:Toast 기본 배경색 및 텍스트 색상 변경
  packages/core/src/components/Toast/Toast.stories.tsx
  packages/core/src/components/Toast/index.tsx
  packages/core/src/components/Toast/styles.module.scss
  packages/core/src/components/Toast/type.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: 캘린더 형태의 DatePicker 구현
  .storybook/preview.tsx
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.stories.tsx
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/core/src/components/CalendarDatePicker/styles.module.scss
  packages/core/src/components/CalendarDatePicker/types.ts
  packages/core/src/components/CalendarDatePicker/utils.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: 스타일 변수 적용 및 오늘 날짜 강조 기능 보완
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.stories.tsx
  packages/core/src/components/CalendarDatePicker/README.md
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/core/src/components/CalendarDatePicker/styles.module.scss
  packages/core/src/components/CalendarDatePicker/types.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(CalendarDatePicker): 코드 일관성 개선 및 export 추가
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.stories.tsx
  packages/core/src/components/CalendarDatePicker/README.md
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/core/src/components/CalendarDatePicker/styles.module.scss
  packages/core/src/components/CalendarDatePicker/types.ts
  packages/core/src/components/CalendarDatePicker/utils.ts
  packages/core/src/components/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: 타입 안전성 및 성능 개선
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.stories.tsx
  packages/core/src/components/CalendarDatePicker/README.md
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/core/src/components/CalendarDatePicker/styles.module.scss
  packages/core/src/components/CalendarDatePicker/types.ts
  packages/core/src/components/CalendarDatePicker/utils.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: 노트 아이콘 추가 * 새로운 노트 아이콘 컴포넌트를 추가했습니다.
  packages/foundation/src/icons/IconNote.tsx
Due: prettier --write, eslint --fix

feat: 달력 아이콘에 채워짐 기능 추가
  packages/foundation/src/icons/IconCalendar.tsx
  packages/foundation/src/icons/IconNote.tsx
Due: prettier --write, eslint --fix

feat: 캘린더 취소 아이콘 추가 * 새로운 아이콘 컴포넌트 `IconCalendarCancel`을 추가했습니다.
  packages/foundation/src/icons/IconCalendarCancel.tsx
Due: prettier --write, eslint --fix

feat: 카드 아이콘 컴포넌트 추가
  packages/foundation/src/icons/IconCards.tsx
Due: prettier --write, eslint --fix

refactor: 타입 안전성 강화 및 문서화 개선
  packages/core/src/components/CalendarDatePicker/README.md
  packages/core/src/components/CalendarDatePicker/types.ts
Due: prettier --write, eslint --fix

feat: index.ts에 아이콘 export 추가
  packages/foundation/src/index.ts
Due: prettier --write, eslint --fix

feat: 타입 내보내기 및 스타일 커스터마이징 기능 보완
  packages/core/src/components/CalendarDatePicker/CalendarDatePicker.stories.tsx
  packages/core/src/components/CalendarDatePicker/index.tsx
  packages/core/src/components/CalendarDatePicker/styles.module.scss
  packages/core/src/components/CalendarDatePicker/types.ts
  packages/core/src/components/CalendarDatePicker/utils.ts
  packages/core/src/components/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.scss
